doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Gallo Mauro - IOT Project Manager - Only a Resume

        link(rel='icon', type='image/x-icon', href='assets/img/favicon.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v5.15.1/js/all.js', crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i', rel='stylesheet', type='text/css')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        nav#sideNav.navbar.navbar-expand-lg.navbar-dark.bg-primary.fixed-top
            a.navbar-brand.js-scroll-trigger(href='#page-top')
                span.d-block.d-lg-none Gallo Mauro
                span.d-none.d-lg-block
                    img.img-fluid.img-profile.rounded-circle.mx-auto.mb-2(src='assets/img/ascii.png', alt='')
            button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarSupportedContent.collapse.navbar-collapse
                ul.navbar-nav
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#about') About
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#experience') Experience
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#education') Education
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#skills') Skills
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#interests') Interests
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#awards') Awards
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#contactForm') Contact Form

        // Page Content
        .container-fluid.p-0

            // About
            section#about.resume-section
                .resume-section-content
                    h1.mb-0
                        | Mauro
                        span.text-primary Gallo
                    .subheading.mb-5
                        | Curious, Motivated and Good Organizational skills: an Old School Nerd
                    p.lead.mb-5
                        | I am currently working with the role of IOT Project Manager: I am leader for both development and service management. If I can I like to write code. In the past, I have worked in IT where I dealt with the 365 world (Sharepoint, Power Apps), the CLOUD infrastructure (both AWS Azure) and security.
                    .social-icons
                        a.social-icon(href='https://www.linkedin.com/in/mauro-gallo/')
                            i.fab.fa-linkedin-in
                        a.social-icon(href='https://github.com/physio')
                            i.fab.fa-github
                        a.social-icon(href='https://form.123formbuilder.com/5796151/form')
                            i.fas.fa-envelope

            hr.m-0

            // Experience
            section#experience.resume-section
               .resume-section-content
                    h2.mb-5 Experience

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 IOT Project Manager
                            .subheading.mb-3 Ing. Polin E C. S.p.A.
                            p
                                | I manage the development of IoT Cloud technologies through AWS Cloud Architecture. I directly develop the software mounted on board the gateway devices. I manage the requests of other business departments for the implementation of IoT technologies (mainly with Technical and Service area).
                        .flex-shrink-0
                            span.text-primary October 2019 - Present

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Project Manager ITC, Security  Manager
                            .subheading.mb-3 Ing. Polin E C. S.p.A.
                            p
                                | I have been involved in Integrations between ERP systems (Microsoft NAV and JFlex) with Office 365 and other applications. I developed the software that manages the communication between the machine tools in the workshops and the ERP. I supported the CIO in the analysis of business processes. I have been the contact person for the IT security of the systems.
                        .flex-shrink-0
                            span.text-primary January 2018 - July 2020

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 System Administrator, Security Manager
                            .subheading.mb-3 C.P. - Arma dei Carabinieri
                            p
                                | During my work at the Carabinieri, I was a network system analyst (I worked on both Windows and Linux systems).  Among the most interesting projects in which I have participated, was the implementation of a new backup system and the development of some software. I have been the main reference for cyber security.
                        .flex-shrink-0
                            span.text-primary January 2010 - December 2017

                    .d-flex.flex-column.flex-md-row.justify-content-between
                        .flex-grow-1
                            h3.mb-0 Founder and Project Manager
                            .subheading.mb-3 Segment s.r.l.
                            p
                                | In 2014 with two other partners, I founded Segment, one of the first companies dedicated to cybersecurity. In addition to the normal routine operations (penetration testing and incident handler), I followed our customers during crisis situations.
                        .flex-shrink-0
                            span.text-primary November 2014 - April 2017

            hr.m-0

            // Education
            section#education.resume-section
                .resume-section-content
                    h2.mb-5 Education

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Primo Levi
                            .subheading.mb-3 Istituto Tecnico Industriale Statale
                            div Perito Capotecnico in Elettronica Industriale e Telecomunicazioni
                        .flex-shrink-0
                            span.text-primary September 1994 - July 1998

                    .d-flex.flex-column.flex-md-row.justify-content-between
                        .flex-grow-1
                            h3.mb-0 Università degli Studi di Padova
                            .subheading.mb-3 Facoltà Di Informatica
                            p I attended academic studies, but did not complete them by graduating.
                        .flex-shrink-0
                            span.text-primary 2003 - 2004

            hr.m-0


            // Skills
            section#skills.resume-section
                .resume-section-content
                    h2.mb-5 Skills
                    .subheading.mb-3 Programming Languages & Tools
                    ul.list-inline.dev-icons
                        li.list-inline-item
                            i.fab.fa-node-js
                        li.list-inline-item
                            i.fab.fa-aws
                        li.list-inline-item
                            i.fab.fa-windows
                        li.list-inline-item
                            i.fab.fa-docker
                        li.list-inline-item
                            i.fab.fa-css3-alt
                        li.list-inline-item
                            i.fab.fa-js-square
                        li.list-inline-item
                            i.fab.fa-angular
                        li.list-inline-item
                            i.fab.fa-jira
                        li.list-inline-item
                            i.fab.fa-trello
                        li.list-inline-item
                            i.fab.fa-npm
                    .subheading.mb-3 Workflow
                    ul.fa-ul.mb-0
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Mobile-First, Responsive Design
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Cross Browser Testing & Debugging
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Cross Functional Teams
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Agile Development & Scrum

            hr.m-0

            // Interests
            section#interests.resume-section
                .resume-section-content
                    h2.mb-5 Interests
                    p
                        | husband to a wonderful woman and father to two beautiful girls. I spend most of my time with them. In my spare time, I try to devote myself to what has always been my true nature: sport. If I can't make it to the pool, I try to put on my trainers and run a few kilometres.
                    p.mb-0
                        | When I have to stay in in the evenings, I watch thriller and fantasy TV series. I like to cook, I spend most of my free time exploring the latest technological advances in the IT world.

            hr.m-0

            // Awards
            section#awards.resume-section
                .resume-section-content
                    h2.mb-5 Awards & Certifications
                    ul.fa-ul.mb-0
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            | International Scrum Institute - ID Certificate 29150282118469
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            | Gold Medal 4x100 S.L. European Swimming Championships Budapest 2006
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            | 1
                            sup st
                            | Gold Medal 4x100 S.L. World Swimming Championships Shanghai 2006
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            | 1
                            sup st
                            | Italy Team Member at Olimpic Games at Sydney 2000




            // Contact Form
            section#contactForm.resume-section
                .resume-section-content
                    h2.mb-5 Contact Form
                    <!-- form.123formbuilder.com script begins here --><script type="text/javascript" defer src="https://form.123formbuilder.com/embed/5796151.js" data-role="form" data-default-width="650px"></script><!-- form.123formbuilder.com script ends here -->
            hr.m-0


            // Bootstrap core JS
            script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js')
            script(src='https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js')

            // Third party plugin JS
            script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js')

            // Core theme JS
            script(src='js/scripts.js')
